.main {
    min-width: 30rem;
}

.domain {
    background: white;
    border: 1px solid grey;
    border-radius: 6px;
    margin-bottom: 2rem;
    min-height: 2.5rem;
}

.domain > summary {
    width: 100%;
    font-size: 120%;
    font-weight: bold;
    /* text-align: center; */
    background: brown;
    color: white;
    border-radius: 5px 5px 0 0;
    padding: 5px 1rem;
}

.domain > h2 > .count {
    float: right;
}

.domain > table {
    width: 100%;
    padding: 5px 1rem;
}

.domain > table tr:hover {
    background: #eee;
    transitition-delay: 1s;
}

.domain > table td:nth-child(1) {
    width: 50%;
    font-weight: bold;
}
.domain > table td:nth-child(2) {
    width: 50%;
    font-size: 80%;
}

@media (prefers-color-scheme: dark) {
    .domain {
      background: black;
      color: #aaa;
      border: 2px solid brown;
    }

    .domain > h2 {
        color: #ccc;
    }

    .domain > table tr:hover {
        background: #333;
    }
}