html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14pt;
}

body {
  color: #222;
  background: #eee;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

div.layout-wrapper {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

nav {
  background: brown;
  color: white;
  padding: 0.3rem 2rem;
}

nav > ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  padding: 0;
}

main {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article {
  max-width: 70ex;
}

footer {
  background: brown;
  color: white;
  padding: 1rem 2rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #ddd;
    background: #222;
  }
}
