.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main a {
  color: #0070f3;
  text-decoration: none;
}

.main a:hover,
.main a:focus,
.main a:active {
  text-decoration: underline;
}

.main .serviceList {
  width: 100%;
  column-count: auto;
  column-width: 25ex;
}

.main .serviceList li {
  list-style-type: none;
}

.main .serviceList li .serviceId {
  opacity: 0.5;
  font-family: monospace;
}

a.lifecycle-1 {
  opacity: 0.5;
}

a.lifecycle-4 {
  text-decoration: line-through;
  opacity: 0.5;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media (prefers-color-scheme: dark) {
}
