.main {
  width: 90vw;
}

.main a {
  text-decoration: none;
}

.main a:hover,
.main a:focus,
.main a:active {
  text-decoration: underline;
}

.main .serviceList {
  width: 100%;
  column-count: auto;
  column-width: 25ex;
  padding: 0;
}

.main .serviceList li {
  list-style-type: none;
}

.main .serviceList li .serviceId {
  opacity: 0.5;
  font-family: monospace;
}

a.lifecycle-1 {
  opacity: 0.5;
}

a.lifecycle-4 {
  text-decoration: line-through;
  opacity: 0.5;
}

.serviceContainer {
  display: grid;
  gap: 0.7rem;
  grid-template-columns: 1fr;
}

.serviceContainer > * {
  max-width: 40ex;
  background: white;
  padding: 0.5ex;
  border: 1px solid brown;
  border-radius: 3px;
  max-height: 10ex;
  overflow: auto;
}

.serviceContainer > * > * {
  font-size: 70%;
  margin: 0;
}

.serviceContainer code {
  float: right;
}

@media (prefers-color-scheme: dark) {
  .serviceContainer > * {
    background: brown;
    border: 1px solid black;
  }
}

@media (min-width: 450px) {
  .serviceContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .serviceContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1000px) {
  .serviceContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}