.main {
  width: 90vw;
  min-height: 100%;
}

.main a {
  text-decoration: none;
}

.main a:hover,
.main a:focus,
.main a:active {
  text-decoration: underline;
}

.main input[type="text"] {
  font-size: 1rem;
  width: 10ex;
  padding: 4px;
  position: absolute;
  right: 2rem;
  top: 1ex;
}

@media only screen and (max-width: 800px) {
  .main input[type="text"] {
    position: static;
    width: 100%;
  }
}

.main .serviceList {
  width: 100%;
  column-count: auto;
  column-width: 25ex;
}

.servicelink code {
  opacity: 0.5;
  font-family: monospace;
  font-size: 70%;
  letter-spacing: -1px;
  background: #444;
  color: white;
  padding: 1px 3px;
  border-radius: 3px;
  position: relative;
  bottom: 2px;
}

.servicelink.lifecycle-1 {
  opacity: 0.5;
}

.servicelink.lifecycle-1 code {
  opacity: 0.5;
  background: darkgreen;
}

.servicelink.lifecycle-3 code {
  text-decoration: line-through;
  opacity: 0.25;
  background: brown;
}

.servicelink.lifecycle-4 {
  text-decoration: line-through;
  opacity: 0.5;
}

.servicelink.lifecycle-4 code {
  background: red;
}

.serviceContainer {
  display: grid;
  gap: 0.7rem;
  grid-template-columns: 1fr;
}

.serviceContainer > * {
  max-width: 40ex;
  background: white;
  padding: 0.5ex;
  border: 1px solid brown;
  border-radius: 3px;
  max-height: 10ex;
  overflow: auto;
}

.serviceContainer > * > * {
  font-size: 70%;
  margin: 0;
}

.serviceContainer code {
  float: right;
}

.filter {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.filter > label {
  white-space: nowrap;
  margin-right: 1rem;
}

.timeStamp {
  opacity: 0.5;
  font-size: 60%;
}

@media (prefers-color-scheme: dark) {
  .serviceContainer > * {
    background: brown;
    border: 1px solid black;
  }
}

@media (min-width: 450px) {
  .serviceContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .serviceContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1000px) {
  .serviceContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}
