.main {
    margin: 5ex 10ex;
    max-width: 80ex;
}

.refContainer {
    float: right;
}

a.ref {
    padding: 3px;
}

.main .serviceId {
    opacity: 0.5;
}

.main .serviceShortName {
    opacity: 0.5;
}

.main h1 {
    margin-top: 2px;
}

.person {
    opacity: 0.7;
    font-size: 82%;
    padding: 2px 3px;
}

.factContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.fact {
    margin: 2px;
    padding: 5px;
    border: 1px solid brown;
    border-radius: 3px;
    background: white;
    width: 23ex;
}

.fact :first-child {
    font-size: 70%;
    color: brown;
}

.footer {
    margin: 5ex 10ex;
}

.backlink {
    font-weight: bold;
    border: 1px solid black;
    border-radius: 3px;
    background: wheat;
    padding: 0.3ex 0.8ex;
}

@media (prefers-color-scheme: dark) {
    .main {
        color-scheme: dark;
    }
    .fact, .backlink {
        filter: invert(1);
        color: #555;

    }
}