.main {
    margin: 5ex 5ex;
    max-width: 80ex;
}

.refContainer {
    float: right;
    display: flex;
    gap: 0.5rem;
}

a.ref {
    padding: 2px;
    font-size: 20pt;
    color: brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.5;
}

a.ref:hover {
    opacity: 1;
}

a.ref > div {
    font-size: 10pt;

}

.main .serviceId {
    opacity: 0.5;
}

.main .serviceShortName {
    opacity: 0.5;
}

.main h1 {
    margin-top: 2px;
}

.person {
    opacity: 0.7;
    font-size: 82%;
    padding: 2px 3px;
}

.factContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2ex 0;
}

.fact {
    margin: 2px;
    padding: 5px;
    border: 1px solid brown;
    border-radius: 3px;
    color: black;
    background: white;
    width: 25.5ex;
}

.fact > div:first-child {
    font-size: 70%;
    color: brown;
    margin-top: -0.5ex;
}

.timeStamp {
    margin: 0;
    opacity: 0.5;
    font-size: 60%;
}

.bottomNav {
    margin-top: 3rem;
}

@media (prefers-color-scheme: dark) {
    .main {
        color-scheme: dark;
    }
    .refContainer, .fact {
        filter: invert(1);
    }
}
